* {
	font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.formulario1 {
	margin-left:auto;
	margin-right: auto;
	position: relative;
	top: 380px;
}

form {
	width: 25%;
	
	}

input, textarea {
	margin-bottom: 20px;
	width: 100%;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #ccc;
}

.Texto {
	text-align: center;
	position: relative;
	top: 150px;

}

.kaka {
	position: fixed;
	top: -10px;
	left: 90%;
	color: white;
	
}

.flix{
	position: fixed;
	top: -10px; 
	color: white;

}

a {
	margin: 10px;
	display: block;
	color: #000;
	text-decoration: none;
}

body {
	background-color: #000;
    color: white;
}

.imagen-banner {
	background: url(https://animetide.com/wp-content/uploads/made-in-abyss-season-2-anime.jpg);
	background-repeat: no-repeat;
	width: 100%;
	height: 1024px;
}

.separador {
	width: 100%;
	height: 20px;
	background-color: #cecece;
}

.titulos {
	font-size: 2.5rem;
}

.subtitulos {
	font-size: 1.25rem;
}

.contenido-sec-1 {
	width: 50%;
	display: block;
	float: left;
}

.imagen-sec-1 {
	width: 50%;
	display: block;
	float: right;
}

.contenido-sec-2 {
	width: 50%;
	display: block;
	float: right;
}

.imagen-sec-2 {
	width: 50%;
	display: block;
	float: left;
}

.contenedor {
	display: inline-block;
	width: 100%;
}

.titulos-portada {
	width: 80%;
}